body {
    color: rgb(5, 127, 203);
    p{
        background-color: #8e1b1b;
        &:hover {
            text-decoration: none;
        }
    }
    a {
        text-decoration: none;
        color: #ff09ea;
    }
}